/* @media(max-width: px) */
@media(max-width: 1200px){
    .portfolio1 .img1 img{
        width: 350px;
    }
}
@media(max-width: 1130px){
    .hero-title h1{
        font-size: 60px;
    }
    .hero-details p{
        width: 500px;
    }
    .service-row{
        flex-wrap: wrap; 
    }
    .exp-content{
        flex-wrap: wrap;
    }
    .exp-mt h4{
        text-align: center;
        margin-top: 35px;
    } 
    .portfolio1 .img1 img{
        width: 300px;
    }
}
@media(max-width: 1050px){
    .menus{
        display: none;
    }
    .hero-row{
        flex-wrap: wrap;
    }
    .hero-left{ 
        margin-top: 50px;
        margin-bottom: 50px;
    }
    .hero-details p{
        padding: 30px 0;
    } 
    .portfolio1 .img1 img{
        width: 100%;
    }
    .portfolio1{
        flex-wrap: wrap;
    }
}

@media(max-width: 750px){ 
}


@media(max-width: 630px){
    .hero-right img{
        width: 100%;
    }
    .hero-title h1{
        font-size:45px;
        line-height: 60px;
    } 
    .service-title h2{
        font-size: 35px;
    }
}

@media(max-width: 550px){
    .hero-details p{
        width: 400px;
        padding: 25px 0;
    }
    .bitext h4 {
        font-size: 18px;
    }
    .service-title h2{
        font-size: 30px;
    }
}

@media(max-width: 475px){
    .hero-details p{
        width: 100%;
        text-align: justify;
    }
    .hero-title h1{
        font-size: 35px;
        line-height: 45px;
    }
    .design-block{
        flex-wrap: wrap;
    }
    .exp-bg{
        width: 350px;
    }
    .experience-section{
        padding: 40px 15px 30px 15px;
    }
}